@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap");
.filters {
  background: rgba(0, 0, 0, 0.817);
  color: white;
  display: flex;
  min-height: 90vh;
}
.filters h1,
.filters h2 {
  margin: 0;
}
.filters__display {
  width: 100%;
  position: relative;
}
.filters__display__title {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.filters__display__title h1 {
  font-size: 2.25rem;
}
.filters__display__filters-btn-and-modal {
  position: relative;
}
.filters__display__filters-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  border: 2px solid lightblue;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.filters__display__filters-btn svg {
  margin-left: 6px;
  width: 20px;
  fill: lightslategray;
}
.filters__display__results {
  padding: 10px;
}
.filters__display__search-bar {
  width: 400px;
  position: absolute;
  right: 20px;
  margin: 15px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.filters__display__search-bar__input-field, .filters__display__search-bar__search-button, .filters__display__search-bar__clear-button {
  outline: none;
  border: none;
  background: rgba(45, 65, 63, 0.95);
}
.filters__display__search-bar__input-field {
  text-align: center;
  padding: 6px;
  border-left: none;
  border-right: none;
  width: 80%;
}
.filters__display__search-bar__search-button {
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  padding: 10px;
}
.filters__display__search-bar__clear-button {
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

.filter-result {
  margin: 25px 15px;
  display: inline-block;
  text-align: left;
  position: relative;
  min-width: 300px;
  height: 400px;
}
.filter-result__link {
  color: white;
  text-decoration: none;
}
.filter-result-title {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.25rem;
  padding: 10px 0;
  margin-top: 3px;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filter-result img {
  width: 100%;
}

.filters-modal {
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 0px;
  width: 400px;
  background-color: black;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  padding: 16px 16px 20px 16px;
}
.filters-modal .title {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.filters-modal .title__close__button {
  background-color: inherit;
  border: none;
}
.filters-modal__filters {
  margin: 12px 0 18px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.filters-modal__filters button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 4px;
}
.filters-modal__filters button svg {
  position: absolute;
  right: 5px;
  width: 1rem;
  height: auto;
}
.filters-modal__filters__filter {
  display: inline-block;
  position: relative;
}
.filters-modal__filters__filter p {
  font-size: 1rem;
}
.filters-modal__filters__filter button {
  min-width: 50px;
  border: 1px solid white;
  width: 100%;
}
.filters-modal__filters__filter button.dropdown__option svg {
  left: 5px;
}
.filters-modal__filters .genre {
  min-width: 180px;
}
.filters-modal__filters .rating {
  min-width: 90px;
}
.filters-modal__filters .status {
  min-width: 120px;
}
.filters-modal__filters .country {
  min-width: 120px;
}
.filters-modal__filters .language {
  min-width: 120px;
}
.filters-modal__filters .type {
  min-width: 160px;
}
.filters-modal__buttons {
  display: flex;
  justify-content: space-between;
}
.filters-modal__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 0.75rem;
  width: 45%;
}
.filters-modal__buttons button:hover {
  cursor: pointer;
}
.filters-modal__buttons button span {
  font-size: 16px;
  font-weight: 500;
}
.filters-modal__buttons .apply__filters__button {
  border: 1px solid lightblue;
}
.filters-modal__buttons .apply__filters__button svg path {
  fill: lightblue;
}
.filters-modal__buttons .apply__filters__button span {
  color: lightblue;
  margin-left: 6px;
}
.filters-modal__buttons .clear__filters__button {
  border: 1px solid red;
  margin-left: 2px;
}
.filters-modal__buttons .clear__filters__button svg path {
  fill: red;
}
.filters-modal__buttons .clear__filters__button span {
  color: red;
  margin-left: 4px;
  margin-top: 1px;
}

.filters__pagination {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.filters__pagination-container {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
}
.filters__pagination button {
  padding: 5px 8px;
  margin: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}
.filters__pagination .active-page {
  border: 1px solid lightblue;
}

.dropdown {
  background: black;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.dropdown ul {
  margin: 0;
  padding: 0;
}
.dropdown ul li {
  list-style: none;
}
.dropdown ul li .dropdown__option {
  width: 100%;
  padding: 4px 0;
  margin: 0;
  border: none;
}
.dropdown ul li:first-of-type .dropdown__option {
  margin-top: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.dropdown ul li:last-of-type .dropdown__option {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.separator {
  margin: 0 10px;
  border: 2px solid rgba(255, 255, 255, 0.527);
}/*# sourceMappingURL=filters.css.map */