@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap");

.filters-fallback {
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-grow: 1;
}

.filters {
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-grow: 1;
  padding-bottom: 10px;

  & h1,
  h2 {
    margin: 0;
  }

  &__display {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__row1 {
      display: flex;
      position: relative;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 2.25rem;
      }
    }

    &__filters-btn-and-modal {
      position: relative;
    }

    &__filters-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 8px;
      border: 2px solid lightblue;
      border-radius: 8px;
      cursor: pointer;
      outline: none;

      svg {
        margin-left: 6px;
        width: 20px;
        fill: lightslategray;
      }
    }
    &-empty {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        font-size: 1.75rem;
      }
    }

    &__results {
      display: grid;
      row-gap: 15px;
      column-gap: 20px;
    }

    &__search-bar {
      display: flex;
      justify-content: center;
      background-color: transparent;
      margin-left: auto;

      &__input-field,
      &__search-button,
      &__clear-button {
        outline: none;
        border: none;
        background: rgba(45, 65, 63, 0.95);
      }

      &__input-field {
        text-align: center;
        padding: 6px;
        border-left: none;
        border-right: none;
        width: 100%;
      }

      &__search-button {
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        padding: 10px;
      }
      &__clear-button {
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  &-modal {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0px;
    width: 400px;
    background-color: black;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    padding: 16px 16px 20px 16px;

    .title {
      display: flex;
      font-size: 1.25rem;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      &__close__button {
        background-color: inherit;
        border: none;
      }
    }

    &__filters {
      margin: 12px 0 18px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 4px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 4px;

        svg {
          position: absolute;
          right: 5px;
          width: 1rem;
          height: auto;
        }
      }

      &__filter {
        display: inline-block;
        position: relative;

        p {
          font-size: 1rem;
        }

        button {
          min-width: 50px;
          border: 1px solid white;
          width: 100%;
        }

        button.dropdown__option {
          svg {
            left: 5px;
          }
        }
      }

      .genre {
        min-width: 180px;
      }

      .rating {
        min-width: 90px;
      }

      .status {
        min-width: 120px;
      }

      .country {
        min-width: 120px;
      }

      .language {
        min-width: 120px;
      }

      .type {
        min-width: 160px;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        border-radius: 0.75rem;
        width: 45%;

        &:hover {
          cursor: pointer;
        }

        span {
          font-size: 16px;
          font-weight: 500;
        }
      }

      .apply__filters__button {
        border: 1px solid lightblue;

        svg {
          path {
            fill: lightblue;
          }
        }

        span {
          color: lightblue;
          margin-left: 6px;
        }
      }

      .clear__filters__button {
        border: 1px solid red;
        margin-left: 2px;

        svg {
          path {
            fill: red;
          }
        }

        span {
          color: red;
          margin-left: 4px;
          margin-top: 1px;
        }
      }
    }
  }

  &__pagination {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

    &-container {
      display: flex;
      align-items: center;
      background-color: black;
      padding: 10px;
    }

    & button {
      padding: 5px 8px;
      margin: 5px;
      cursor: pointer;
      font-size: 1.25rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    .active-page {
      border: 1px solid lightblue;
    }
  }

  @media screen and (width <425px) {
    & {
      padding: 0 10px 5px;

      h1 {
        font-size: 1.05rem;
        text-align: center;
      }

      &-modal {
        top: 50px;
        left: 0px;
        width: 100%;
        padding: 10px 10px 15px 10px;

        .title {
          font-size: 1.25rem;
        }

        &__filters {
          margin: 10px 0 14px 0;
          gap: 12px;

          button {
            padding: 4px 0;
            font-size: 1rem;
            margin-top: 4px;

            svg {
              right: 3px;
              width: 20px;
              height: 20px;
            }
          }

          .genre {
            width: 100%;
          }

          .type {
            width: 100%;
          }

          .rating {
            width: clamp(90px, 48%, 180px);
          }

          .country {
            width: clamp(90px, 48%, 200px);
          }

          .status {
            width: clamp(90px, 48%, 180px);
          }

          .language {
            width: clamp(90px, 48%, 200px);
          }
        }

        &__buttons {
          justify-content: center;
          gap: 10px;
          button {
            width: 48%;
          }
        }
      }

      .separator {
        margin: 8px 0 12px;
        border: 1px solid rgba(255, 255, 255, 0.527);
      }

      &__display {
        &__row1 {
          gap: 8px;
          h1 {
            font-size: 1.5rem;
          }
        }
        &__filters-btn-and-modal {
          position: initial;
        }

        &__filters-btn {
          padding: 4px 6px;
          border: 1px solid lightblue;
          border-radius: 8px;
          .filters-label {
            display: none;
          }

          svg {
            margin-left: 0;
            width: 22px;
            height: 22px;
          }
        }

        &__search-bar {
          font-size: 0.95rem;

          &__input-field {
            padding: 8px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 8px;
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        &-empty {
          padding: 10px;
          p {
            text-align: center;
            font-size: 1.65rem;
          }
        }

        &__results {
          grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
          row-gap: 10px;
          column-gap: 8px;
        }
      }

      .filter-result {
        &-title {
          padding: 8px 0;
          font-size: 0.8rem;
        }
      }

      &__pagination {
        display: block;
        padding: 15px 0;

        &-container {
          display: flex;
          justify-content: space-evenly;
          padding: 0px;
        }

        & button {
          padding: 4px 6px;
          margin: 0;
          font-size: 0.85rem;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  @media screen and (width >=425px) and (width<640px) {
    & {
      padding: 0 12px 6px;

      h1 {
        font-size: 1.5rem;
      }

      &-modal {
        max-width: 100%;
        padding: 10px 10px 15px 10px;

        .title {
          font-size: 1.25rem;
        }

        &__filters {
          margin: 10px 0 14px 0;
          gap: 12px;

          button {
            padding: 4px 0;
            font-size: 1rem;
            margin-top: 4px;

            svg {
              right: 3px;
              width: 20px;
              height: 20px;
            }
          }

          .genre {
            width: clamp(180px, 49%, 200px);
          }

          .type {
            width: clamp(160px, 49%, 180px);
          }

          .rating {
            width: clamp(90px, 49%, 200px);
          }

          .country {
            width: clamp(120px, 49%, 180px);
          }

          .status {
            width: clamp(120px, 49%, 200px);
          }

          .language {
            width: clamp(120px, 49%, 180px);
          }
        }

        &__buttons {
          justify-content: center;
          gap: 10px;
          button {
            width: 48%;
          }
        }
      }

      .separator {
        margin: 8px 0 12px;
        border: 1px solid rgba(255, 255, 255, 0.527);
      }

      &__display {
        &__row1 {
          gap: 10px;
          h1 {
            font-size: 1.5rem;
          }
        }
        &__filters-btn-and-modal {
          position: initial;
        }

        &__filters-btn {
          padding: 6px 8px;
          border: 1px solid lightblue;
          border-radius: 8px;
          .filters-label {
            display: none;
          }

          svg {
            margin-left: 0;
            width: 22px;
            height: 22px;
          }
        }

        &__search-bar {
          font-size: 0.95rem;

          &__input-field {
            padding: 8px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 8px;
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        &-empty {
          padding: 10px;
          p {
            text-align: center;
            font-size: 1.75rem;
          }
        }

        &__results {
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
          row-gap: 10px;
          column-gap: 8px;
        }
      }

      .filter-result {
        &-title {
          padding: 8px 0;
          font-size: 0.8rem;
        }
      }

      &__pagination {
        display: block;
        padding: 20px 0;

        &-container {
          display: flex;
          justify-content: space-evenly;
          padding: 0px;
        }

        & button {
          padding: 4px 6px;
          margin: 0;
          font-size: 1.15rem;

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
  @media screen and (width>= 640px) and (width<768px) {
    & {
      padding: 0 12px 8px;

      h1 {
        font-size: 1.25rem;
      }

      &-modal {
        width: 410px;
        padding: 10px 10px 15px 10px;

        &__filters {
          .genre {
            width: clamp(180px, 49%, 200px);
          }

          .type {
            width: clamp(160px, 49%, 180px);
          }

          .rating {
            width: clamp(90px, 49%, 200px);
          }

          .country {
            width: clamp(120px, 49%, 180px);
          }

          .status {
            width: clamp(120px, 49%, 200px);
          }

          .language {
            width: clamp(120px, 49%, 180px);
          }
        }
        &__buttons {
          gap: 10px;
          button {
            width: 48%;
          }
        }
      }

      .separator {
        margin: 8px 0 12px;
        border: 1px solid rgba(255, 255, 255, 0.527);
      }

      &__display {
        &__row1 {
          gap: 10px;
          h1 {
            font-size: 1.5rem;
          }
        }

        &__filters-btn {
          padding: 6px 8px;
          border: 1px solid lightblue;
          border-radius: 8px;
          font-size: 0.9rem;

          svg {
            width: 18px;
            height: 18px;
          }
        }

        &__search-bar {
          font-size: 0.85rem;

          &__input-field {
            padding: 8px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 8px;
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        &-empty {
          padding: 15px;
          p {
            text-align: center;
            font-size: 1.75rem;
          }
        }

        &__results {
          grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
          row-gap: 8px;
          column-gap: 6px;
        }
      }

      .filter-result {
        &-title {
          padding: 8px 0;
          font-size: 0.9rem;
        }
      }

      &__pagination {
        padding: 20px 0;

        &-container {
          padding: 0px;
        }

        & button {
          margin: 0 5px;
          padding: 6px;
          font-size: 1.45rem;

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }

  @media screen and (width>= 768px) {
    & {
      padding: 0 15px 10px;

      h1 {
        font-size: 1.5rem;
      }

      &-modal {
        width: 440px;
        padding: 14px 14px 18px 14px;

        .title {
          font-size: 1.35rem;
        }

        &__filters {
          margin: 5px 0 15px 0;

          &__filter {
            button {
              padding: 4px 0;
            }
          }

          .genre {
            width: clamp(180px, 49%, 200px);
          }

          .type {
            width: clamp(160px, 49%, 190px);
          }

          .rating {
            width: clamp(90px, 49%, 200px);
          }

          .country {
            width: clamp(120px, 49%, 190px);
          }

          .status {
            width: clamp(120px, 49%, 200px);
          }

          .language {
            width: clamp(120px, 49%, 190px);
          }
        }
        &__buttons {
          gap: 10px;
          button {
            width: 48%;
          }
        }
      }

      .separator {
        margin: 8px 0 12px;
      }

      &__display {
        &__row1 {
          gap: 12px;
          h1 {
            font-size: 1.5rem;
          }
        }

        &__filters-btn {
          padding: 6px 8px;
          font-size: 1rem;
          border: 1px solid #add8e6;

          svg {
            width: 22px;
            height: 22px;
          }
        }

        &__search-bar {
          min-width: 40vw;
          font-size: 0.95rem;

          &__input-field {
            padding: 8px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 8px;
            svg {
              width: 22px;
              height: 22px;
            }
          }
        }

        &-empty {
          padding: 15px;
          p {
            text-align: center;
            font-size: 1.75rem;
          }
        }

        &__results {
          grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
          row-gap: 10px;
          column-gap: 8px;
        }
      }

      .filter-result {
        &-title {
          padding: 8px 0;
          font-size: 1rem;
        }
      }

      &__pagination {
        padding: 20px 0 10px 0;

        &-container {
          padding: 0px;
        }

        & button {
          margin: 0 10px;
          padding: 6px;
          font-size: 1.15rem;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  @media screen and (width>=1024px) {
    & {
      h1 {
        font-size: 1.75rem;
      }
      &-modal {
        width: 440px;
        padding: 14px 14px 18px 14px;

        .title {
          font-size: 1.35rem;
        }

        &__filters {
          margin: 5px 0 15px 0;
          .genre {
            width: clamp(180px, 49%, 200px);
          }

          .type {
            width: clamp(160px, 49%, 190px);
          }

          .rating {
            width: clamp(90px, 49%, 200px);
          }

          .country {
            width: clamp(120px, 49%, 190px);
          }

          .status {
            width: clamp(120px, 49%, 200px);
          }

          .language {
            width: clamp(120px, 49%, 190px);
          }
        }
        &__buttons {
          gap: 10px;
          button {
            width: 48%;
          }
        }
      }

      .separator {
        margin: 8px 0 12px;
      }

      &__display {
        &__row1 {
          gap: 12px;
          h1 {
            font-size: 1.75rem;
          }
        }

        &__filters-btn {
          padding: 6px 8px;
          font-size: 1.15rem;
          border: 1px solid #add8e6;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        &__search-bar {
          min-width: 40vw;
          font-size: 1.15rem;

          &__input-field {
            padding: 8px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 8px;
            svg {
              width: 22px;
              height: 22px;
            }
          }
        }
        &__results {
          grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
          row-gap: 12px;
          column-gap: 10px;
        }
      }

      &__pagination {
        padding: 25px 0 15px 0;

        &-container {
          padding: 0px;
        }

        & button {
          margin: 0 10px;
          padding: 8px;
          font-size: 1.35rem;

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }

      & .filter-result {
        max-width: 250px;
      }
    }
  }
  @media screen and (width>=1280px) {
    & {
      padding: 0px 18px 12px;

      &-modal {
        padding: 18px 18px 24px 18px;

        .title {
          font-size: 1.5rem;
        }

        &__filters {
          margin: 6px 0 16px 0;
          &__filter {
            p {
              font-size: 1rem;
            }
            button {
              font-size: 0.85rem;
              padding: 6px 0;
            }
          }
        }
      }

      .separator {
        margin: 12px 0 16px 0;
      }

      &__display {
        &__row1 {
          gap: 15px;
          h1 {
            font-size: 2rem;
          }
        }

        &__filters-btn {
          padding: 6px 8px;
          font-size: 1.15rem;
          border: 1px solid #add8e6;

          svg {
            width: 26px;
            height: 26px;
          }
        }

        &__search-bar {
          min-width: 35vw;
          font-size: 1.35rem;

          &__input-field {
            padding: 10px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 10px;
            svg {
              width: 28px;
              height: 28px;
            }
          }
        }
        &__results {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 15px 12px;
        }
      }

      & .filter-result {
        border: 2px solid lightslategray;
        max-width: 380px;

        &-title {
          font-size: 1.5rem;
          padding: 15px 0;
        }
      }

      &__pagination {
        padding: 25px 0 15px 0;

        &-container {
          padding: 0px;
        }

        & button {
          margin: 0 10px;
          padding: 6px;
          font-size: 1.35rem;

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
  @media screen and (width>=1536px) {
    & {
      padding: 0 18px 12px;

      &-modal {
        width: 500px;
        padding: 18px 18px 24px 18px;

        .title {
          font-size: 1.75rem;
        }

        &__filters {
          margin: 8px 0 18px 0;
          &__filter {
            p {
              font-size: 1.15rem;
            }
            button {
              font-size: 1rem;
              padding: 6px 0;
            }
          }

          .genre {
            width: clamp(180px, 49%, 225px);
          }

          .type {
            width: clamp(160px, 49%, 220px);
          }

          .rating {
            width: clamp(90px, 49%, 225px);
          }

          .country {
            width: clamp(120px, 49%, 220px);
          }

          .status {
            width: clamp(120px, 49%, 225px);
          }

          .language {
            width: clamp(120px, 49%, 220px);
          }
        }
        &__buttons {
          gap: 15px;
          button {
            width: 48%;
          }
        }
      }

      .separator {
        margin: 15px 0 20px 0;
      }

      &__display {
        &__row1 {
          gap: 25px;
          h1 {
            font-size: 2.25rem;
          }
        }

        &__filters-btn {
          padding: 6px 8px;
          font-size: 1.35rem;
          border: 2px solid #add8e6;

          svg {
            width: 30px;
            height: 30px;
          }
        }

        &-empty {
          padding: 25px;
          p {
            text-align: center;
            font-size: 2.25rem;
          }
        }

        &__search-bar {
          min-width: 35vw;
          font-size: 1.5rem;

          &__input-field {
            padding: 12px 0;
          }

          &__search-button,
          &__clear-button {
            padding: 12px;
            svg {
              width: 32px;
              height: 32px;
            }
          }
        }

        &__results {
          grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
          gap: 25px 15px;
        }
      }

      & .filter-result {
        border: 2px solid lightslategray;
        max-width: 450px;

        &-title {
          font-size: 1.75rem;
          padding: 20px 0;
        }
      }

      &__pagination {
        padding: 25px 0 15px;

        &-container {
          padding: 0px;
        }

        & button {
          margin: 0 12px;
          padding: 8px;
          font-size: 1.5rem;

          svg {
            width: 32px;
            height: 32px;
          }
        }

        .active-page {
          border: 2px solid rgb(173, 216, 230);
        }
      }
    }
  }
}

.filter-result {
  border: 1px solid lightslategray;
  display: inline-block;
  text-align: left;
  position: relative;

  &__link {
    color: white;
    text-decoration: none;
  }

  &-title {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.25rem;
    padding: 10px 0;
    margin-top: 3px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  img {
    width: 100%;
  }
}

.filter-result-skeleton {
  margin: 25px 15px;
  display: inline-block;
  position: relative;
  min-width: 300px;
  height: 400px;
  position: relative;

  &__link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  &-title {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.25rem;
    padding: 10px 0;
    margin-top: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-self: flex-end;
    background: #152331;

    background: linear-gradient(
      180deg,
      rgba(21, 35, 49, 0.61) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    color: transparent;
  }

  .img-placeholder {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 350px;
    width: 100%;
    background: #152331;

    background: linear-gradient(
      180deg,
      rgba(21, 35, 49, 0.85) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.dropdown {
  background: black;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      .dropdown__option {
        width: 100%;
        padding: 4px 0;
        margin: 0;
        border: none;
      }

      &:first-of-type {
        .dropdown__option {
          margin-top: 5px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }
      }

      &:last-of-type {
        .dropdown__option {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}

.separator {
  margin: 0 10px;
  border: 2px solid rgba(255, 255, 255, 0.527);
}
