.header {
  background-color: rgb(8, 7, 5);
  opacity: 0.96;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    position: relative;
    display: flex;
    background: rgba(45, 65, 63, 0.856);
    border-radius: 10px;

    &__input-field,
    &__search-button,
    &__clear-button {
      display: flex;
      align-items: center;
      padding: 10px;
      outline: none;
      border: none;
      background: inherit;
      color: wheat;
    }

    &__input-field {
      color: wheat;
      text-align: center;
      border-left: none;
      border-right: none;
    }

    &__search-button {
      border-left: none;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &__clear-button {
      border-right: none;
      cursor: pointer;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &__nav {
    background-color: inherit;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & ul {
      display: flex;

      & button {
        cursor: pointer;
        margin: 0 10px;
        outline: none;
        border: none;
        background: inherit;
        font-size: 1.75rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

        &__notifications {
          position: relative;
        }
      }
      & button.link-active {
        border-bottom: 2px solid rgb(113, 174, 207);
      }
    }
  }

  &__nav-btn {
    display: none;
    color: wheat;
    padding: 4px;
  }

  @media screen and (width <425px) {
    & {
      padding: 15px 10px;

      &__input {
        font-size: 0.9rem;

        &__input-field {
          padding: 8px 0;
          width: 75%;
        }

        &__search-button,
        &__clear-button {
          padding: 8px 12px;

          svg {
            width: 16px;
            height: 16px;
          }
        }

        &__search-button {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        &__clear-button {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }

      &__nav {
        display: none;
      }

      &__nav-btn {
        display: block;
      }
    }
  }

  @media screen and (width >=425px) and (width<640px) {
    & {
      padding: 15px 12px;

      &__input {
        font-size: 1rem;

        &__input-field,
        &__search-button,
        &__clear-button {
          padding: 8px 10px;

          svg {
            width: 18px;
            height: 18px;
          }
        }

        &__search-button {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        &__clear-button {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }

      &__nav {
        display: none;
      }
      &__nav-btn {
        display: block;
      }
    }
  }

  @media screen and (width>= 640px) and (width<768px) {
    & {
      padding: 15px 12px;

      &__input {
        font-size: 0.75rem;

        &__input-field,
        &__search-button,
        &__clear-button {
          padding: 6px 8px;

          svg {
            width: 16px;
            height: 16px;
          }
        }

        &__search-button {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        &__clear-button {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }

      &__nav {
        & ul {
          & button {
            margin: 0 6px;
            font-size: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0);
          }

          & button.link-active {
            border-bottom: 1px solid rgb(113, 174, 207);
          }
        }
      }
    }
  }

  @media screen and (width>= 768px) {
    & {
      padding: 18px 15px;
      &__input {
        font-size: 0.85rem;

        &__input-field,
        &__search-button,
        &__clear-button {
          padding: 10px 12px;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        &__search-button {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        &__clear-button {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }

      &__nav {
        & ul {
          & button {
            margin: 0 8px;
            font-size: 1.25rem;
          }

          & button.link-active {
            border-bottom: 2px solid rgb(113, 174, 207);
          }
        }
      }
    }
  }
  @media screen and (width>=1024px) {
    & {
      padding: 18px 15px;
      &__input {
        font-size: 1rem;

        &__input-field,
        &__search-button,
        &__clear-button {
          padding: 10px 12px;

          svg {
            width: 22px;
            height: 22px;
          }
        }

        &__search-button {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        &__clear-button {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }

      &__nav {
        & ul {
          & button {
            margin: 0 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  @media screen and (width>=1280px) {
    & {
      padding: 25px 20px;

      &__input {
        font-size: 1.25rem;

        &__input-field,
        &__search-button,
        &__clear-button {
          padding: 12px 14px;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        &__search-button {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        &__clear-button {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }

      &__nav {
        & ul {
          & button {
            margin: 0 12px;
            font-size: 1.75rem;
          }
        }
      }
    }
  }
  @media screen and (width>=1536px) {
    & {
      padding: 30px 20px;

      &__input {
        font-size: 1.5rem;

        &__input-field,
        &__search-button,
        &__clear-button {
          padding: 14px 16px;

          svg {
            width: 32px;
            height: 32px;
          }
        }

        &__search-button {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }
        &__clear-button {
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
      }

      &__nav {
        & ul {
          & button {
            margin: 0 8px;
            font-size: 2.25rem;
          }

          & button.link-active {
            border-bottom: 3px solid rgb(113, 174, 207);
          }
        }
      }
    }
  }
}
