@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap");
.search-results {
  display: none;
  width: 70vw;
  justify-self: center;
  position: absolute;
  z-index: 100;
  top: 35px;
  background-color: rgba(0, 0, 0, 0.97);
  overflow-y: scroll;
}
.search-results-open {
  display: block;
  animation-name: showSearchResults;
  animation-duration: 50ms;
  animation-fill-mode: forwards;
}
.search-results-empty {
  padding: 8px 10px;
  width: 100% !important;
}
@keyframes showSearchResults {
  1% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
.search-results::-webkit-scrollbar {
  width: 2px;
}
.search-results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-results::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.search-results__header {
  display: flex;
  justify-content: flex-end;
}
.search-results__header > h5 {
  margin: 0;
  margin-right: 30px;
  padding-top: 3px;
  font-weight: 400;
  font-family: "Lobster", cursive;
  font-size: 22px;
}
.search-results__header__close-button {
  cursor: pointer;
}
.search-results .search-result__show {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.search-results .search-result__show a {
  text-decoration: none;
}
.search-results .search-result__show:first-of-type {
  margin-top: 0;
}
.search-results .search-result__show:last-of-type {
  margin-bottom: 0;
}
.search-results .search-result__show__image {
  width: 20%;
  height: auto;
  border-radius: 6px;
}
.search-results .search-result__show__info {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.search-results .search-result__show__info__title {
  font-weight: 600;
  font-size: 1.75rem;
  color: wheat;
}
.search-results .search-result__show__info__status {
  font-weight: initial;
  border-bottom: 1px solid rgba(186, 185, 185, 0.702);
  color: rgba(186, 185, 185, 0.702);
  padding: 2px;
}
.search-results .search-result__show__info__row1, .search-results .search-result__show__info__row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-results .search-result__show__info__row2 {
  padding: 10px 8px;
  font-size: 16px;
  color: rgba(228, 227, 227, 0.502);
  background-color: #1f1c1c;
  text-transform: lowercase;
}
.search-results .search-result__show__info__rating {
  display: flex;
  align-items: center;
}
.search-results .search-result__show__info__rating__icon {
  margin-right: 5px;
  color: gold;
}
.search-results .search-result__show__info__genres {
  justify-self: flex-end;
}
.search-results .search-result__show__info {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.search-results .search-result__show__info > p {
  margin: 0;
}
.search-results .search-result__show__info__description {
  color: #bab9b9;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: start;
}
@media screen and (width < 425px) {
  .search-results {
    width: clamp(275px, 94vw, 410px);
    max-height: 300px;
    padding: 2px;
    top: 40px;
  }
  .search-results .search-result__show {
    padding: 2px;
    margin: 2px 0;
  }
  .search-results .search-result__show__image {
    width: 35%;
    border-radius: 4px;
  }
  .search-results .search-result__show__info {
    padding: 2px 0 2px 4px;
    gap: 6px;
    width: 65%;
  }
  .search-results .search-result__show__info__title {
    font-size: 0.65rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 0.5rem;
    padding: 1px;
    border-bottom: 1px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 4px;
    font-size: 0.5rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 8px;
    height: 8px;
  }
  .search-results .search-result__show__info__description {
    font-size: clamp(0.6rem, 3vw, 0.79rem);
  }
}
@media screen and (width >= 425px) and (width < 640px) {
  .search-results {
    width: clamp(395px, 94vw, 600px);
    max-height: 300px;
    padding: 2px;
    top: 40px;
  }
  .search-results .search-result__show {
    padding: 4px;
    margin: 4px 0;
  }
  .search-results .search-result__show__image {
    width: 30%;
    border-radius: 4px;
  }
  .search-results .search-result__show__info {
    width: 70%;
    padding: 2px 0 2px 4px;
    gap: 6px;
  }
  .search-results .search-result__show__info__title {
    font-size: 0.75rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 0.55rem;
    padding: 1px;
    border-bottom: 1px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 4px;
    font-size: 0.55rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 10px;
    height: 10px;
  }
  .search-results .search-result__show__info__description {
    font-size: clamp(0.8rem, 3vw, 1.03rem);
  }
}
@media screen and (width >= 640px) and (width < 768px) {
  .search-results {
    width: max(70vw, 470px);
    max-height: 280px;
    padding: 4px;
    top: 30px;
  }
  .search-results .search-result__show {
    padding: 5px;
    margin: 4px 0;
  }
  .search-results .search-result__show__image {
    width: 30%;
    border-radius: 6px;
  }
  .search-results .search-result__show__info {
    padding: 4px 0 4px 6px;
    gap: 8px;
  }
  .search-results .search-result__show__info__title {
    font-size: 1.15rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 0.55rem;
    padding: 1px;
    border-bottom: 1px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 4px;
    font-size: 0.55rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 12px;
    height: 12px;
  }
  .search-results .search-result__show__info__description {
    font-size: 0.75rem;
  }
}
@media screen and (width >= 768px) {
  .search-results {
    width: max(65vw, 540px);
    max-height: 350px;
    padding: 4px;
    top: 40px;
  }
  .search-results .search-result__show {
    padding: 6px;
    margin: 4px 0;
  }
  .search-results .search-result__show__image {
    width: 30%;
    border-radius: 6px;
  }
  .search-results .search-result__show__info {
    padding: 4px 0 4px 8px;
    gap: 8px;
  }
  .search-results .search-result__show__info__title {
    font-size: 1.25rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 0.65rem;
    padding: 1px;
    border-bottom: 1px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 4px;
    font-size: 0.65rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 14px;
    height: 14px;
  }
  .search-results .search-result__show__info__description {
    font-size: clamp(0.7rem, 2vw, 1.05rem);
  }
}
@media screen and (width >= 1024px) {
  .search-results {
    width: max(70vw, 750px);
    max-height: 440px;
    padding: 4px;
    top: 50px;
  }
  .search-results .search-result__show {
    padding: 10px;
    margin: 6px 0;
  }
  .search-results .search-result__show__image {
    width: 35%;
    border-radius: 8px;
  }
  .search-results .search-result__show__info {
    padding: 4px 0 4px 10px;
    gap: 10px;
  }
  .search-results .search-result__show__info__title {
    font-size: 1.55rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 1rem;
    padding: 2px;
    border-bottom: 1px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 6px;
    font-size: 1rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 18px;
    height: 18px;
  }
  .search-results .search-result__show__info__description {
    font-size: clamp(0.8rem, 1.5vw, 1.05rem);
  }
}
@media screen and (width >= 1280px) {
  .search-results {
    width: max(60vw, 1000px);
    max-height: 550px;
    padding: 6px;
    top: 50px;
  }
  .search-results .search-result__show {
    padding: 15px;
    margin: 10px 0;
  }
  .search-results .search-result__show__image {
    width: 30%;
    border-radius: 12px;
  }
  .search-results .search-result__show__info {
    padding: 8px 0 8px 15px;
    gap: 15px;
  }
  .search-results .search-result__show__info__title {
    font-size: 1.75rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 1.25rem;
    padding: 4px;
    border-bottom: 2px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 8px;
    font-size: 1.25rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 24px;
    height: 24px;
  }
  .search-results .search-result__show__info__description {
    font-size: 1.1rem;
  }
}
@media screen and (width >= 1536px) {
  .search-results {
    width: max(70vw, 1200px);
    min-width: 1000px;
    max-height: 770px;
    padding: 10px;
    top: 70px;
  }
  .search-results .search-result__show {
    padding: 25px;
    margin: 15px 0;
  }
  .search-results .search-result__show__image {
    width: 30%;
    border-radius: 16px;
  }
  .search-results .search-result__show__info {
    padding: 10px 0 10px 30px;
    gap: 30px;
  }
  .search-results .search-result__show__info__title {
    font-size: 2.25rem;
  }
  .search-results .search-result__show__info__status {
    font-size: 1.85rem;
    padding: 5px;
    border-bottom: 2px solid rgba(186, 185, 185, 0.702);
  }
  .search-results .search-result__show__info__row2 {
    padding: 14px;
    font-size: 1.75rem;
  }
  .search-results .search-result__show__info__rating svg {
    width: 32px;
    height: 32px;
  }
  .search-results .search-result__show__info__description {
    font-size: clamp(1rem, 1.35vw, 1.5rem);
  }
}/*# sourceMappingURL=searchResults.css.map */